<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <!--<link rel ="stylesheet" href="todo.css"> -->
  <!--<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>-->
    <script src="https://kit.fontawesome.com/60c39cf339.js" crossorigin="anonymous"></script>
    <title>TODOリスト</title>
</head>
<body>
  <header>
    <h1>TODO Lists</h1>
  </header>
  <div class="container">
    <div class="input-form">
      <input type="text" class="todo-input">
      <button class="todo-button">
        <i class="fas fa-plus-square"></i>
      </button>
    </div>
    <div class="todo-container">
      <ul class="todo-list">
        <li></li>
        <button class="check-button">
          チェック
        </button>
      </ul>
      <div class="todo-list" v-for="item in todolists" v-bind:key="item.id">
        <span  class="todo-item" v-if="!item.isEditing" @dblclick="editTask(item)">{{ item.content }}</span>
        <input class="edit-form" v-else type="text" v-model="item.content" @blur="doneEdit(item)" @keyup.enter="doneEdit(item)">  
        

      
        <button class="delete-button" v-on:click="deleteTask(item)"><i class="far fa-trash-alt"></i><!-- 削除--></button>
      </div>
    </div>
  </div>
    <script src = "todo.js"></script>
</body>
</html> 